opencv_contrib_python==4.6.0.66
opencv_python==4.6.0.66
opencv_python_headless==4.10.0.82
opencv_python_headless==4.11.0.86
paddleocr==2.7.3
paddleocr.egg==info
paddlepaddle_gpu==2.6.1
paddlepaddle_gpu==2.6.1.post117
paddlepaddle_gpu==2.6.2
psutil==5.9.8
psutil==6.1.0
psutil==7.0.0
PyAutoGUI==0.9.50
pynput==1.7.7
pynput==1.7.8
pywin32==306
pywin32==308
PyYAML==6.0.1
PyYAML==6.0.2
